@if (message()) {
  <div class="fixed top-4 left-1/2 transform -translate-x-1/2 z-50" animate.enter="enter-animation" animate.leave="leave-animation">
    <div class="min-w-60 p-3 rounded-lg shadow-md text-white flex items-center justify-between"
         [class.bg-green-600]="message()?.type === 'success'"
         [class.bg-red-600]="message()?.type === 'error'"
         [class.bg-sky-500]="message()?.type === 'info'">
      <span class="mr-4">{{ message()?.text }}</span>
      <button class="text-white ml-2 text-xl" (click)="dismiss()">×</button>
    </div>
  </div>
}
